<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{head::head}">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
</head>
<body>
<nav th:replace="~{navbar::navibar}"></nav>

<div class="container mt-5">
    <div class="d-flex flex-column align-items-center" sec:authorize="isAuthenticated()" th:if="${team == null}">
        <div class="alert alert-info mb-3" role="alert">
            Aktualnie nie posiadasz żadnej drużyny. Dołącz do społeczności CyberLeague i załóż swoją drużynę już teraz!
        </div>
        <a class="nav-link active" th:href="@{/team/create}">
            <button type="button" class="btn btn-outline-success">Stwórz Drużynę</button>
        </a>
    </div>

    <div th:if="${team} != null" class="center-container">
        <div class="container">
            <div class="row team-info" th:if="${team} != null">
                <div class="col">
                    <h1 class="text-center mb-4 display-4" th:text="${team.name}"></h1>
                </div>
            </div>
            <div class="row team-info" th:if="${team} != null">
                <div class="col">
                    <h2 class="text-center mb-4">Zawodnicy</h2>
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="player : ${team.players}">
                            <td th:text="${player.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <p th:if="${user} != null" class="text-center">
          <span th:if="${team.owner.providerId} == ${user.providerId}">
            <a th:href="@{/team/manage}" class="btn btn-primary">
              Zarządzaj
            </a>
          </span>
                    </p>
                </div>
                <div class="col">
                    <h2 class="text-center mb-4">Historia Meczów</h2>
                    <div class="container" th:each="match : ${team.matches}" th:if="${team.matches.size() > 0}">
                        <div class="row">
                            <div class="col-md-4">
                                <div th:class="${match.getScoreA() > match.getScoreB()} ? 'card text-white bg-success' : 'card'">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <div class="team-name" th:text="${match.getTeamA()}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center align-self-center">
                                <div class="card">
                                    <div class="card-body">
                                    <span class="vs"
                                          th:text="${match.getScoreA()} + ' - ' + ${match.getScoreB()}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div th:class="${match.getScoreB() > match.getScoreA()} ? 'card text-white bg-success' : 'card'">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <div class="team-name" th:text="${match.getTeamB()}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--    Przyciski do edytowania-->
            <span th:if="${team.owner.providerId} == ${user.providerId}">
            <a th:href="@{/league/registration}" class="btn btn-primary">
              Dołącz do ligi
            </a>
          </span>


        </div>
    </div>
</div>
<div th:replace="~{footer::footer}"></div>
</body>
</html>