<nav class="navbar navbar-expand-lg bg-light" th:fragment="navibar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CyberLeague</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/leagues?game=LeagueOfLegends">LOL</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/leagues?game=Dota2">Dota 2</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/leagues?game=CSGO">CS:GO</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/leagues?game=Valorant">Valorant</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/leagues?game=RocketLeague">Rocket League</a>
                </li>
            </ul>

            <div class="d-flex" sec:authorize="isAnonymous()">
                <a class="nav-link active" th:href="@{/login}">
                    <button type="button" class="btn btn-outline-success">Zaloguj</button>
                </a>
            </div>

            <div class="dropdown p-2" sec:authorize="isAuthenticated()">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Profil
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/user/ownedLeagues}">Zarządzaj ligami</a></li>
                    <li><a class="dropdown-item" th:href="@{/#}">Zaproszenia</a></li>
                    <li><a class="dropdown-item" th:href="@{/#}">Moja drużyna</a></li>
                    <li><a class="dropdown-item" th:href="@{/#}">Ustawienia</a></li>
                </ul>
            </div>

            <div class="d-flex" sec:authorize="isAuthenticated()">
                <form  th:action="@{/logout}" method="POST">
                    <button  type="submit" class="btn btn-outline-danger">Wyloguj</button>
                </form>
            </div>
        </div>
    </div>
</nav>
