<!DOCTYPE html>
<html lang="en">
<head th:replace="~{head::head}">
</head>
<body>
<nav th:replace="~{navbar::navibar}"></nav>

<div class="container mt-5">
    <div th:if="${#lists.isEmpty(leagues)}" class="no-leagues-message d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1 class="display-3">Brak aktualnie lig</h1>
        </div>
    </div>
    <div class="card mb-3" th:each="league : ${leagues}" th:unless="${#lists.isEmpty(leagues)}">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{/images/__${league.game}__.png}" class="img-fluid rounded-start" alt="league">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${league.name}"></h5>
                    <p class="card-text" th:text="${league.description}"></p>
                    <span>Rozpoczyna się o:</span>
                    <p class="card-text" th:text="${league.starts}"><small class="text-body-secondary"></small></p>
                    <a th:href="@{/league(leagueId=${league.getId()})}" class="btn btn-primary stretched-link">
                        Dowiedź się więcej
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer::footer}"></div>
</body>
</html>
