<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{head::head}"></head>
<body>
<nav th:replace="~{navbar::navibar}"></nav>

<div class="container mt-5">
    <div class="d-flex" sec:authorize="isAuthenticated()">
        <a class="nav-link active" th:href="@{/league/create}">
            <button type="button" class="btn btn-outline-success">Stwórz ligę</button>
        </a>
    </div>


    <div th:if="${#lists.isEmpty(ownedLeagues)}" class="alert alert-info" role="alert">
        Nie jesteś obecnie organizatorem żadnej ligi.
    </div>

    <div class="card mb-3" th:each="league : ${ownedLeagues}">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{/images/__${league.game}__.png}" class="img-fluid rounded-start" alt="league">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${league.name}"></h5>
                    <p class="card-text" th:text="${league.description}"></p>
                    <span>Rozpoczyna się o:</span>
                    <p class="card-text" th:text="${league.starts}"><small class="text-body-secondary"></small></p>
<!--                    zmienić link-->
                    <a th:href="@{/league/matches(leagueId=${league.id})}" class="btn btn-primary ">
                        Dowiedź się więcej
                    </a>
                    <form action=# th:action="@{/registration/registrationManager}" th:object="${registration}" method="post">
                        <select style="display: none" th:field="*{league.id}">
                            <option th:value="${league.id}"></option>
                        </select>
                        <button type="submit" class="btn btn-primary">Zgłoszenia</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer::footer}"></div>
</body>
</html>